.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--dark-secondary);
  border-radius: 30px;
  padding: 20px;
}

.wrapper.readingPage {
  gap: 40px;
}

.wrapper:first-child {
  background-color: red;
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding: 32px;
    flex-direction: row;
    gap: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .wrapper {
    padding: 40px 20px 20px 20px;
    flex-direction: column;
    gap: 20px;
  }

  .wrapper.mylibrary {
    gap: 70px;
  }
}
