.label {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 12px;
  font-size: 12px;
  line-height: 1.33;
  background-color: var(--dark-tertiary);
  border: 1px solid transparent;
  transition: border-color 0.3s ease;
}

.label:hover,
.label:active,
.label:focus-within {
  border-color: rgba(var(--light-primary-rgb), 0.1);
}

.input {
  outline: transparent;
  flex-grow: 1;
  padding: 14px 14px 14px 10px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.input::placeholder {
  color: inherit;
}

.labelText {
  color: var(--light-secondary);
  padding: 14px 0px 14px 14px;
  font-family: var(--font-family);
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.btn {
  position: absolute;
  top: 13px;
  right: 16px;
}

.label.error {
  border-color: var(--accent-tertiary);
  margin-bottom: 12px;
}

.errorText {
  position: absolute;
  left: 14px;
  bottom: -13px;
  z-index: 1000;
  font-size: 10px;
  line-height: 1.2;
  color: var(--accent-tertiary);
}
