@media screen and (max-width: 767px) {
  .mobileMenu {
    position: fixed;
    z-index: 120;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--overlay), 0.6);
  }

  .menu {
    z-index: 150;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 280px;
    padding-bottom: 40px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--dark-tertiary);
    height: 100%;
    width: 200px;
  }

  .closeBtn {
    position: absolute;
    top: 34px;
    right: 40px;
  }

  .linksList {
    margin-bottom: 20px;
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    color: var(--light-secondary);
  }

  .linksList li {
    display: inline-flex;
  }
}
