.container {
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-secondary);
  padding: 20px 20px 40px 20px;
  border-radius: 30px;
  flex-grow: 1;
}

.logoWrapper {
  margin-bottom: 40px;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  margin-bottom: 20px;
}

.accent {
  color: rgba(var(--light-tertiary-rgb), 0.5);
}

.pictureSide {
  padding-top: 20px;
  text-align: center;
  background-color: var(--dark-secondary);
  border-radius: 30px;
}

.img {
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .formWrapper {
    margin-bottom: 10px;
  }

  .logoText {
    display: none;
  }
}

/* Tablet styles */

@media screen and (min-width: 768px) {
  .container {
    padding: 32px;
  }

  .formWrapper {
    padding: 40px 168px 214px 64px;
  }

  .logoWrapper {
    display: flex;
    gap: 4px;
    margin-bottom: 157px;
  }

  .logoText {
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
    text-transform: uppercase;
  }

  .title {
    font-size: 64px;
    line-height: 0.94;
    max-width: 444px;
    margin-bottom: 40px;
  }

  .pictureSide {
    display: none;
  }
}
