.wrapper {
  position: relative;
  background-color: var(--dark-tertiary);
  border-radius: 12px;
  padding: 20px;
}

.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 14px;
}

.list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 17px;
}

.listItem {
  max-width: 71px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumb {
  height: 107px;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 8px;
}

.bookTitle {
  font-size: 10px;
  line-height: 1.2;
  color: var(--light-tertiary);
  margin-bottom: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.author {
  font-size: 10px;
  line-height: 1.2;
  color: var(--light-secondary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link {
  max-width: 50px;
  font-size: 12px;
  line-height: 1.17;
  text-decoration: underline;
  color: var(--light-secondary);
}

.linkArrow {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

@media screen and (max-width: 768px) {
  .linkArrow svg {
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .wrapper {
    max-height: 272px;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding: 26px 40px 27px 20px;
  }

  .list {
    margin-bottom: 20px;
  }

  .link {
    font-size: 14px;
    line-height: 1.29;
  }

  .title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .linkArrow {
    bottom: 27px;
  }
}
