.icon {
  fill: currentColor;
  stroke: none;
}

.iconStroke {
  fill: none;
  stroke: currentColor;
}

.error {
  fill: var(--accent-tertiary);
}

.check-o {
  fill: var(--accent-secondary);
}

.left.disabled {
  stroke: rgba(var(--light-primary-rgb), 0.2);
}

.right.disabled {
  stroke: rgba(var(--light-primary-rgb), 0.2);
}

.trash {
  stroke: rgb(var(--trash));
}

.hourglass {
  stroke: var(--light-secondary);
}

.hourglass.active {
  stroke: currentColor;
}

.pie-chart {
  stroke: var(--light-secondary);
}

.pie-chart.active {
  stroke: currentColor;
}

/* Tablet styles */

@media screen and (min-width: 768px) {
  .error {
    width: 20px;
    height: 20px;
  }

  .check-o {
    width: 20px;
    height: 20px;
  }

  .eye {
    width: 20px;
    height: 20px;
  }

  .eye-off {
    width: 20px;
    height: 20px;
  }

  .left,
  .right {
    width: 7px;
    height: 12px;
  }

  .hourglass {
    width: 20px;
    height: 20px;
  }

  .pie-chart {
    width: 20px;
    height: 20px;
  }
}
