.overlay {
  position: fixed;
  inset: 0;
  background: rgba(var(--overlay), 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  position: relative;
  border: 1px solid rgba(var(--modalBorder), 0.2);
  background-color: var(--dark-secondary);
  border-radius: 12px;
  width: 335px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 767px) {
  .modal.bookAdded {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .closeBtn.bookAdded {
    right: 12px;
  }
}

.closeBtn {
  position: absolute;
  top: 16px;
  right: 16px;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .modal.bookAdded {
    width: 342px;
  }
}
