.noBookWrapper {
  text-align: center;
  padding-top: 83px;
  padding-bottom: 60px;
  max-width: 197px;
  margin: 0 auto;
}

.noBookImgWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background-color: var(--dark-tertiary);
}

.noBookImg {
  width: 50px;
  height: 50px;
}

.noBookText {
  font-size: 14px;
  line-height: 1.29;
}

.noBookAccent {
  color: var(--light-secondary);
}

@media screen and (min-width: 768px) {
  .noBookWrapper {
    padding-top: 100px;
    padding-bottom: 120px;
    max-width: 274px;
  }

  .noBookImgWrapper {
    width: 130px;
    height: 130px;
    margin-bottom: 20px;
  }

  .noBookImg {
    width: 70px;
    height: 70px;
  }

  .noBookText {
    font-size: 14px;
    line-height: 1.29;
  }

  .noBookAccent {
    color: var(--light-secondary);
  }
}

@media screen and (min-width: 1280px) {
  .noBookWrapper {
    padding-top: 161px;
    padding-bottom: 204px;
  }
}
