@import "node_modules/modern-normalize/modern-normalize.css";

@font-face {
  font-family: "Gilroy";
  src: url(./fonts/Gilroy-Medium.woff2) format("woff2"),
    url(./fonts/Gilroy-Medium.woff) format("woff");

  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url(./fonts/Gilroy-Bold.woff2) format("woff2"),
    url(./fonts/Gilroy-Bold.woff) format("woff");

  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: "Gilroy", sans-serif;
  line-height: 1.5;
  font-weight: 500;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colors */
  --light-primary: #f9f9f9;
  --light-primary-rgb: 249, 249, 249;
  --light-secondary: #686868;
  --light-tertiary: #e3e3e3;
  --light-tertiary-rgb: 227, 227, 227;

  --dark-primary: #141414;
  --dark-secondary: #1f1f1f;
  --dark-tertiary: #262626;

  --accent-primary: #4f92f7;
  --accent-secondary: #30b94d;
  --accent-tertiary: #e90516;
}

body {
  background-color: var(--dark-primary);
  color: var(--light-primary);
  letter-spacing: -0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
textarea {
  padding: 0;
  background-color: inherit;
  border: none;
  color: inherit;
  font: inherit;
}

button {
  padding: 0;
  color: inherit;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

svg {
  display: block;
  fill: none;
  stroke: none;
}
